@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

.main-container {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav__tittle {
  padding: 10px 60px;
  font-size: 1.67em;
}

h2 {
  font-size: 1.73em;
  padding: 10px 0;
}

h3 {
  font-size: 1.3em;
}

p {
  font-size: 1.25em;
  font-weight: 390;
  padding: 5px 0;
}

.button {
  display: inline-block;
  margin: 27px auto;
  padding: 18px 25px;
  border-radius: 50px;
  border: none;
  font-weight: 400;
  color: white;
  text-decoration: none;
  font-size: 1.12em;
  background: linear-gradient(rgb(220, 109, 218), rgb(167, 92, 217));
  box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.4s ease-in-out;
  /* background-color: rgb(206, 52, 240);
  background-image: linear-gradient( rgb(182, 111, 196), rgba(205, 205, 205, 0));
  transition: background-color 0.3s;*/
}

.button:hover {
  box-shadow: 0px 6px 17px -1px rgba(0, 0, 0, 0.32);
  transition: box-shadow 0.4s ease-in-out;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.16);
  transition: opacity 0.4s;
  border-radius: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.button:hover::before {
  opacity: 1;
}

/*------------------------------------------------*/
.button__pages {
  display: inline-block;
  width: 230px;
  margin: 19px auto;
  padding: 18px 25px;
  border-radius: 50px;
  border: none;
  font-weight: 400;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.12em;
  background: linear-gradient(rgb(220, 109, 218), rgb(167, 92, 217));
  box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.4s ease-in-out;
}

.button__pages:hover {
  box-shadow: 0px 6px 17px -1px rgba(0, 0, 0, 0.32);
  transition: box-shadow 0.4s ease-in-out;
}

.button__pages::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.16);
  transition: opacity 0.4s;
  border-radius: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.button__pages:hover::before {
  opacity: 1;
}

.loader-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
}
.loader-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  z-index: 3;
  animation: revealPage 1.5s 0.5s ease-in-out forwards;
  pointer-events: none;
}
@keyframes revealPage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader-container .loader {
  position: fixed;
  top: 35vh;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: spin 4s linear infinite, fadeInOut 2.5s ease-out 1 forwards;
  z-index: 4;
  clip-path: circle(50% at center);
}
.loader-container .loader .image-1 {
  position: absolute;
  background-image: url(../../assets/images/loader/image1.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: fadeOut 0s forwards 1s;
}
.loader-container .loader .image-2 {
  position: absolute;
  background-image: url(../../assets/images/loader/image2.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: fadeOut 0s forwards 1.9s;
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}

.menu {
  position: relative;
}
.menu .section-1 {
  opacity: 0;
  animation: fadeIn 1s forwards, slideIn 1s forwards;
  animation-delay: 0.3s;
}
.menu .section-2 {
  opacity: 0;
  animation: slideOut 1s forwards;
  animation-delay: 0.6s;
}
.menu .section-3 {
  opacity: 0;
  animation: fadeIn 1s forwards, slideIn 1s forwards;
  animation-delay: 0.9s;
}
@keyframes fadeIn {
  to {
    opacity: 1; /* Faire apparaître le bloc en ajustant l'opacité à 1 */
  }
}
@keyframes slideIn {
  from {
    opacity: 0; /* Commencer avec une opacité de 0 */
    transform: translateX(-100%); /* Déplacer le bloc de 100% de sa propre largeur vers la gauche */
  }
  to {
    opacity: 1; /* Faire apparaître le bloc en ajustant l'opacité à 1 */
    transform: translateX(0); /* Retourner à la position initiale (0% de déplacement) */
  }
}
@keyframes slideOut {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/*-------Nav-------*/
.main-container {
  width: 100%;
  /*------Nav address------*/
  /*-------Button reservez-------*/
  /*-------section fonctionnement--------*/
}
.main-container .nav .nav__logo {
  /*necessaire de convretir ma balise <a> en bloc
  pour lui posicionner avec l'ombre box shadow */
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}
.main-container .nav img {
  width: 200px;
  height: auto;
  display: block;
  margin: auto;
  padding: 30px 0 20px 0;
}
.main-container .nav__address {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  color: #353535;
  /*por le box shadow besoin de metre un position relative 
  et un z-index pour bien placé le blocs et que l'onbre puise aparetre*/
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}
.main-container .nav__address .nav__icon {
  font-size: 1.2em;
  margin-right: 10px;
}
.main-container .nav__address input {
  font-family: "Roboto", sans-serif;
  border: none;
  background: #EAEAEA;
  width: 150px;
  font-size: 1.2em;
  font-weight: bold;
}
.main-container .nav__address input[type=text]:focus {
  outline: none;
}
.main-container .nav__reservez {
  background-color: #F3F3F3;
  text-align: center;
  padding: 35px 20px 40px 20px;
}
.main-container .fonctionnement {
  padding: 40px 25px 60px 25px;
  flex-direction: column;
  box-sizing: border-box;
}
.main-container .fonctionnement .fonctionnement__tittle {
  padding-right: 100px;
}
.main-container .fonctionnement .fonctionnement__list {
  list-style: none;
  counter-reset: custom-counter;
  display: grid;
  flex-direction: column;
  gap: 25px;
  padding: 25px 0 0 0;
}
.main-container .fonctionnement .fonctionnement__list .fonctionnement__choice {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  max-width: 380px;
}
.main-container .fonctionnement .fonctionnement__list .fonctionnement__choice--cont {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F3F3F3;
  padding: 27px 30px;
  border-radius: 25px 25px;
  margin-left: 15px;
  height: auto;
  font-weight: 500;
  color: black;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.18);
}
.main-container .fonctionnement .fonctionnement__list .fonctionnement__choice--cont p {
  font-weight: 500;
  padding: 0;
  font-size: 1.2em;
}
.main-container .fonctionnement .fonctionnement__list .fonctionnement__choice i {
  color: #7E7E7E;
  margin-right: 25px;
  margin-left: 9px;
  font-size: 1.3em;
}
.main-container .fonctionnement .fonctionnement__list .fonctionnement__choice:hover i {
  color: #9356DC;
}
.main-container .fonctionnement .fonctionnement__list .fonctionnement__choice--cont::before {
  /*on appelle notre custom-counter
  et on lui atribu lordre de notre liste numerote*/
  content: counter(custom-counter);
  counter-increment: custom-counter;
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  text-align: center;
  line-height: 30px;
  color: white;
  top: 23px;
  left: -17px;
}

.nouveau {
  animation: shakeAnimation 0.4s ease-in-out infinite, pause 5s steps(3, end) infinite;
}

@keyframes pause {
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
/*pour utilizer les couleurs d'une variable
dans aun autre variable il faut lappeler avec
son nom de de fichier suivi d'un point et en 
suite le nome de la propiete de la variable*/
.restaurant__background {
  background-color: #F3F3F3;
}

.restaurants {
  padding: 45px 20px;
}
.restaurants .restaurants__title {
  margin-bottom: 15px;
}
.restaurants .restaurants__cards {
  display: grid;
  row-gap: 40px;
}
.restaurants .restaurants__cards .card {
  background-color: #FFFFFF;
  border-radius: 20px;
  position: relative;
}
.restaurants .restaurants__cards .card .nouveau {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  padding: 7px 15px;
  font-weight: 500;
  right: 15px;
  top: 15px;
  border-radius: 3px;
}
@keyframes shakeAnimation {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(-4px, 0px) rotate(-4deg);
  }
  50% {
    transform: translate(4px, 0px) rotate(4deg);
  }
  75% {
    transform: translate(-4px, 0px) rotate(-4deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
.restaurants .restaurants__cards img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 190px;
}
.restaurants .restaurants__cards .card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 15px;
  text-decoration: none;
}
.restaurants .restaurants__cards .card__content--like {
  font-size: 1.8em;
  padding: 0 15px 15px 0;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text; /* Pour Safari */
  background-clip: text;
  color: transparent;
}
.restaurants .restaurants__cards .card__content--like .card__content--like input {
  display: none;
}
.restaurants .restaurants__cards .card__content--like .unfilled-heart {
  cursor: pointer;
}
.restaurants .restaurants__cards .card__content--like input[type=checkbox]:not(:checked) ~ .reaction-favorite .unfilled-heart {
  display: block;
}
.restaurants .restaurants__cards .card__content--like input[type=checkbox]:not(:checked) ~ .reaction-favorite .filled-heart {
  display: none;
}
.restaurants .restaurants__cards .card__content--like input[type=checkbox]:checked ~ .reaction-favorite .unfilled-heart {
  display: none;
}
.restaurants .restaurants__cards .card__content--like input[type=checkbox]:checked ~ .reaction-favorite .filled-heart {
  display: block;
  animation: scaleAnimation 200ms ease-in-out forwards;
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.restaurants .restaurants__cards .card__content--like .fa-regular {
  color: black;
}
.restaurants .restaurants__cards .card__content--like .fa-solid {
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text; /* Pour Safari */
  background-clip: text;
  color: transparent;
}
.restaurants .restaurants__cards .card__content .card__content--like input {
  display: none;
}

.footer {
  background-color: #353535;
  padding: 40px 30px;
}
.footer .footer__nav {
  display: flex;
  flex-direction: column;
}
.footer .footer__nav--svg {
  width: 120px;
  height: auto;
  margin-bottom: 17px;
}
.footer .footer__nav--list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  gap: 6px;
  color: #FFFFFF;
}
.footer .footer__nav .footer__nav--list i {
  margin-right: 12px;
  transition: color 0.3s ease-in-out;
}
.footer .footer__nav .footer__nav--list a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.1em;
  transition: color 0.3s ease-in-out;
}
.footer .footer__nav .footer__nav--list .fa-handshake-angle {
  font-size: 0.7em;
}
.footer .footer__nav .footer__nav--list a:hover, .footer .footer__nav .footer__nav--list i:hover {
  color: #9356DC;
}

@media (min-width: 767.98px) {
  /*-------- Nav Header---------*/
  .nav .nav__logo {
    box-shadow: none;
  }
  .nav .nav__logo img {
    width: 230px;
    padding: 40px 0;
  }
  .nav .nav__address {
    box-shadow: none;
  }
  .nav .nav__reservez {
    padding-bottom: 10px;
  }
  .nav .nav__reservez h1 {
    font-size: 2.8em;
    margin: 0px 0 15px 0;
  }
  /*--------Section Fonctionnement---------*/
  .fonctionnement {
    padding: 50px 100px;
  }
  .fonctionnement .fonctionnement__tittle {
    text-align: center;
  }
  .fonctionnement .fonctionnement__list {
    justify-content: space-between;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding-right: 15px;
  }
  .fonctionnement .fonctionnement__list .fonctionnement__choice--cont {
    width: 100%;
  }
  /*--------Main Restaurants---------*/
  .restaurants {
    padding: 20px 100px 30px 100px;
  }
  .restaurants .restaurants__cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5vw;
  }
  .restaurants .restaurants__cards .card .img {
    width: 100%;
    height: 150px;
  }
  /*--------Footer---------*/
  .footer {
    padding: 50px 70px 30px 70px;
  }
  .footer .footer__nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
  .footer .footer__nav .footer__nav--svg {
    margin: 15px 0 0 100px;
    width: 100px;
  }
  .footer .footer__nav .footer__nav--list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
@media (min-width: 1024px) {
  .fonctionnement__background {
    padding: 0 80px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .fonctionnement {
    padding: 50px 160px;
  }
  .fonctionnement .fonctionnement__tittle {
    text-align: inherit;
  }
  .fonctionnement .fonctionnement__list {
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
  }
  .restaurants {
    padding: 20px 100px 30px 100px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .restaurants .card img {
    height: 180px;
  }
}

/*# sourceMappingURL=main.css.map */
