@use '../base/variables';

.footer {

    background-color: variables.$footer-color;
    padding: 40px 30px;
    .footer__nav {
        display: flex;
        flex-direction: column;
        &--svg {
            width: 120px;
            height: auto;
            margin-bottom: 17px;
            //la couleur on le change directemen ou se trouve le fichier
        }
        &--list {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-left: 0;
            gap: 6px;
            //font-size: 0.5em;
            color: variables.$background-basic;
        }
        .footer__nav--list i {
            margin-right: 12px;
            transition: color 0.3s ease-in-out;
        }
        .footer__nav--list a {
            text-decoration: none;
            color: variables.$background-basic;
            font-size: 1.1em;
            transition: color 0.3s ease-in-out;
        }
        .footer__nav--list .fa-handshake-angle {
            font-size: 0.7em;
        }
        .footer__nav--list a:hover, .footer__nav--list i:hover  {
            color: variables.$purple;
        } 
    }
}
