//Palette
$background-basic: #FFFFFF;
$background-color: #F3F3F3;
$background-color-variant: #EAEAEA;
$purple: #9356DC;
$blue-dark: #003A68;
$blue-clair: #89C8FA;
$vert-fonce: #008766;
$vert-claire: #99E2D0;
$footer-color: #353535;
$typography-secondary-color: #353535;
$icon-color: #7E7E7E;
$button-color: linear-gradient(rgba(220, 109, 218, 1), rgba(167, 92, 217, 1));
$button-color-hover: linear-gradient(rgba(220, 109, 218, 0.8), rgba(167, 92, 217, 0.8));