@media (min-width: 1024px) {
    .fonctionnement__background {
        max-width: 1440px;
        margin: 0 auto;
    }
    .fonctionnement {
        padding: 50px 160px;
        .fonctionnement__tittle {
            text-align: inherit;
        }
        .fonctionnement__list {
            justify-content: space-between;
            grid-template-columns: repeat(3,1fr);
            //gap: 40px;
        }
    } 
    .restaurants {
        padding: 20px 160px 30px 160px;
        max-width: 1440px;
        margin: 0 auto;
        .card img {
            height: 180px;
        }
    }
}