@media (min-width: 767.98px) {
/*-------- Nav Header---------*/
    .nav {
        .nav__logo {
            box-shadow: none;
                img {
                    width: 230px;
                    padding: 40px 0;
                }
            }
        .nav__address {
            box-shadow: none;
            }
        .nav__reservez {
            padding-bottom: 10px;
                h1 {
                font-size: 2.8em;
                margin: 0px 0 15px 0;
                }
            }
        }
/*--------Section Fonctionnement---------*/
    .fonctionnement {
        padding: 50px 100px;
        .fonctionnement__tittle {
            text-align: center;
                
        }
        .fonctionnement__list {
            justify-content: space-between;
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
            //attention debordement sans padding
            padding-right: 15px;
            .fonctionnement__choice--cont {
                    width: 100%;
                }
            }
        } 

/*--------Main Restaurants---------*/
        .restaurants {
            padding: 20px 100px 30px 100px;
            .restaurants__cards {
                grid-template-columns: repeat(2, 1fr);
                //padding: 0 120px;
                column-gap: 5vw;
                row-gap: 30px;
                .card {
                    .img {
                    width: 100%;
                    height: 150px; 
                    }
                }
            }
        }

/*--------Footer---------*/
    .footer {
            padding: 50px 70px 30px 70px;
        .footer__nav {
            display: flex;
            flex-direction: row-reverse;
            align-items: end;
            .footer__nav--svg {
                margin: 15px 0 0 100px;
                width: 100px;
            }
            .footer__nav--list {
                display: flex;
                flex-direction: row;
                gap: 30px;
            }
        }
    }
}